################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SangBookStore/.vs/SangBookStore
/SangBookStore/SangBookStore/bin/Debug/netcoreapp3.1
/SangBookStore/SangBookStore/obj
